body {
    background: rgba(173, 173, 165, 0.726);
    color: rgb(56, 54, 56);
    font-family: Helvetica Neue, Helvtica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
   background:rgba(5, 5, 5, 0.747); 
   color: rgb(160, 156, 149);
   padding: 20px;
   
}

nav a {
    color: rgba(234, 236, 243, 0.836);
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}

ul li {
    display: inline-block;
    flex-direction: row;
    padding-left: 20px;
    color:rgba(234, 236, 243, 0.836);
    text-decoration:none;
    text-transform:none;
    margin-top:40px;

}

header .logo a {
    background-image: url("images/christian_cross_PNG23028.png");
    background-size: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 80px;
    position: relative;
    text-indent: -999999999px;
    top: -30px;
    width:50px;
}

section a {
    color: rgba(234, 236, 243, 0.836);
    text-decoration: none;
    text-transform: uppercase;
    margin-top:40px;
}

select option {
    text-align:center;
    font-size: 30px;
}
